/* Case Study 1 */
.jumbo-case1 {
    background-image: url(/images/case1/cs1-header.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  
  .cs1text {
    width: 550px;
    background-color: rgba(255, 255, 255, 0.488);
    padding: 10px 20px;
    margin-top:20px;
  }

  .cs1text h1 {
    font-size: 40px;
    font-weight: 500;
  }

  .cs1text h2 {
    font-size: 30px;
    font-weight: lighter;
  }

  .overview {
    background-color: #f4f4f4;
  }

  .gov-img img {
    width: 400px;
    height: auto;
    margin: 0 auto;

  }

  .quote {
    font-size: 35px;
    line-height: 40px;

  }

  .hightlight {
    background-color: #BC8FA3;
  }