/* Case Study 1 */
.jumbo-case1 {
    background-image: url(/images/case1/cs1-header.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  
  
  .cs1text {
    width: 550px;
    background-color: rgba(255, 255, 255, 0.488);
    padding: 10px 20px;
    margin-top:20px;
  }

  .cs1text h1 {
    font-size: 40px;
    font-weight: 500;
  }

  .cs1text h2 {
    font-size: 30px;
    font-weight: lighter;
  }

  .overview {
    background-color: #f4f4f4;
  }

  .gov-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
  }

  .gov-img-sm img {
    width: 70%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    object-fit: cover;
  }
  .gov-img-sm img {
    max-width: 70%;
    height: auto;
    margin: 0 auto;
    align-items: center;
    object-fit: cover;

  }

   .quote {
    font-size: 30px;
    line-height: 40px;
    padding: 10px 20px;

  }

  .highlight {
    background-color:#f4f4f4;
    border-left: 5px solid #7A2048;
  }

  .highlight h1 {
    font-size: 26px;
  }

  .move20 {
    padding-top: 20px;
  }

  .container {
    padding: 20px auto;
  }

  h3 {
    font-size: 24px;
  }

  .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    margin: 5% auto;
  }
  
  ul {
    padding-left: 20px;
  }

  
  