/* Case Study 1 */
.jumbo-case1 {
    background-image: url(/images/case1/cs1-header.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .jumbo-case2 {
    background-image: url(/images/case2/npo-hero.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .jumbo-case3 {
    background-image: url(/images/case3/case3-hero.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .jumbo-case4 {
    background-image: url(/images/case4/rent-hero.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
    
   .cs1text {
    width: 530px;
    background-color: rgba(255, 255, 255, 0.488);
    padding: 10px 20px;
    margin-top:20px;
  }
  .cs1textdk {
    width: 530px;
    background-color: rgba(255, 255, 255, 0.859);
    padding: 10px 20px;
    margin-top:20px;
  }

  .cs1text h1 {
    color: black;
    font-size: 40px;
    font-weight: 500;
  }

  .cs1text h2 {
    font-size: 30px;
    font-weight: lighter;
  }

  .overview {
    background-color: #f4f4f4;
  }

  .gov-img img {
    width: 100%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
  }

  .wiknow-img img {
    width: 90%;
    height: auto;
    margin: 0 auto;
    object-fit: cover;
  }

  .gov-img-sm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
  }

  .gov-img-xsm img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
  }

   .quote {
    font-size: 30px;
    line-height: 40px;
    padding: 10px 20px;
  }

  .q2 {
    text-align: center;
  }

  .row {
    transition: transform 1300ms;
  }
  
  .highlight:hover {
    transform:scale(1.01, 1.01);
    background-color: #7a204828;
    transition: transform 3s;
    transition: 2.5s;
  }

  .highlight {
    background-color:#f4f4f4;
    border-left: 5px solid #7A2048;
    transition: 2.0s;
  }

  .highlight h1 {
    font-size: 26px;
  }

  .move20 {
    padding-top: 20px;
  }

  .container {
    padding: 20px auto;
  }

  h3 {
    font-size: 24px;
  }

  .container-fluid {
    padding-right: 50px;
    padding-left: 50px;
    margin-top: 100px;
    margin-left: 0px;
    margin-right: 40px;
  }
  
  ul {
    padding-left: 20px;
  }

  #myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #7a2048b0; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 10px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 16px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #7A2048; /* Add a dark-grey background on hover */
  }

  .npo-solution {
    background-image: url(/images/case2/saddog.jpg);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
  
  .solution {
    
    background-color: rgba(255, 255, 255, 0.716);
    padding-left: 30px;
    margin-top: 6%;
    margin-right: 55%;
    
  }

.hidden {
  opacity: 0;
  transform: translateX(-10%);
  transition: all 1s;  
}

.show {
  opacity: 1;
  transform: translateX(0);
}

q {
  display: inline-block;
  font-size: 22px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  line-height: 25px;
  padding-bottom: 20px;
}

  /* Responsive layout - Mobile */
@media only screen and (max-width: 650px) { 
  .cs1text {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.699);
    padding: 10px 20px;
    margin-top:40px;
  }

  .solution {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
  }

  .cs1text h1 {
    font-size: 36px;
    font-weight: 500;
  }

  .cs1text h2 {
    font-size: 24px;
    font-weight: lighter;
  }

  .gov-img-sm img {
  width: 100%;
  margin: 0 auto;
  }

  .gov-img-xsm img {
    width: 100%;
    margin: 0 auto;
    }

}

  