html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

body {
  font-family: 'Merriweather Sans', sans-serif;
}

.main {
  margin-top: 100px;
}

.herohmtext {
  width: 50%;
  margin: auto 40px;
}
.container h2 {
  line-height: 45px;
}

.jumbobold {
  font-weight: 600;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    background-color:#03456c;
    transition: background-color 0.4s ease-out;
  }
  nav.scroll {
    background-color: #03466cab;
  }
  
  #navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }

  .logo {
    display: inline-block;
   
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    font-size: 20px;
  }

  .nav-item a {
    font-family: 'Merriweather Sans', sans-serif;
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    
  }
  
  .nav-item:hover {
    border-radius: 10px;
    background-color: rgba(245, 240, 240, 0.2);
    transition: 0.5s;
    
  }
  
  .nav-item:hover a {
    color: white;
  }
  
  
  .active a {
    text-decoration: underline #A7D8F5;
  }
      
  .logo img {
    
    vertical-align: middle;
  }

  .linkedin {
    display: flexbox;
    margin-top:10px;
    margin-left: 20px;
    margin-right: 40px;
  }

  .linkedin:hover {
    cursor: pointer;
  }
 
  h1 {
    font-size: 24px;
    font-weight: bold;
    color: #03456c;
    font-family: 'Merriweather Sans', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../images/headerline5.png);
    background-repeat: no-repeat;
    }
  
  p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    color: #000;
    font-weight: lighter;
    line-height: 24px;
    padding-bottom: 15px;
  }

  /*Bootstrap Cards for Case Studies*/
  .row {
    margin: 10px auto;
  }

  .column {
    margin: 20px 20px;
  }

  .card-img-top {
      width: 100%;
      height: 23vw;
      object-fit: cover;
  }

  .content {
    display: flex;
    justify-content:space-around;
    background-color: white;
  }
  
  .contentleft {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left:40px;
    margin-right: 40px;
    
  }
  
  .contentright {
    display: flex;
    justify-content:center;
    align-items: center;
    margin-right: 40px;
  }

  .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    width: 350px;
    border-radius: 10px;
  }

  .box p {
   font-family: 'Marck Script', cursive;
   font-size: 30px;
   line-height: 30px;
   padding: 10px;
   text-align: center;
   
  }

  .button-resume {
    display: flex;
    background-color: #A7D8F5;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin: 20px;
    transition: opacity 0.5s;
  }

  .button-resume:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  .skillscontent {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin: 0 40px;
    
  }

  .skills-row {
    display: flex;
    flex-direction: row;
    justify-content:space-around;
  }
  .skillscard {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 300px;
    border-radius: 5px;
    margin: 0 20px 20px 20px;
    background-color: #f4f4f4;
    padding: 5px 10px;
 }

 .skillscard h2 {
  padding-bottom: 10px;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 20px;
  font-weight:bold;
  text-decoration: underline;
 }

  .skillscard ul {
    list-style: none;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 16px;
    line-height: 26px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #03456c;
      }

  .ft-content {
    display: flexbox;
    flex-direction: column;
    
    margin: 10px 20px;
   
    color: white;
    font-family: 'Merriweather Sans', sans-serif;
  }

  .ft-content a {
    text-decoration: none;
  }

   .ft-middle p {
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin: 0 0;
    padding-bottom: 3px;
    line-height: 24px;
 }
  
 .ft-middle h3 {
  font-weight: 600;
  color: white;
  padding-bottom: 5px;
 }

 .ft-button {
  display: flex;
  background-color: white;
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  transition: opacity .5s;
}

.ft-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ft-button a {
text-decoration: none;
}

.footer-nav {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}

.ftnav-item a {
  color: white;
  text-decoration: none;
}

.ftnav-item:hover a {
  color: #A7D8F5;
}

.ftnav-active a {
 color: #A7D8F5;
}

.basiccontent {
  display: flex;
  justify-content:space-around;
  flex-direction: column;
  margin: 0 40px;
  
}



/*css for About page hero text*/
.hero {
  display: flex;
  justify-content:space-around;
  background-color:#f4f4f4;
  margin-bottom: 30px;
}

.herotext {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 20px 20px;
  width: 50%;
}

.heroimg {
  display:flexbox;
  margin: 0 auto;
}

.heroimg img {
 width: 100%;  
}

  .herotext p {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color:black;
  text-align: left;
  line-height: 34px;
  
  
}

.herotext h1 {
  font-size: 25px;
  color:#03456c;
  font-weight:700;
  font-family: 'Merriweather Sans', sans-serif;
  background-image: none;
  
}
