html {
    box-sizing: border-box;
    scroll-behavior: smooth;
  }
 
  *, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
  }

.biotext {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto auto;
}

.biotext h1 {
  font-size: 30px;
  line-height: 45px;
}

.bio h2 {
  color: black !important;
  padding-top: 30px;
}

.ml-auto {
  text-align: center;
}

.ml2 {
  font-weight: 500;
  font-size: 2.7em;
  padding-top: 20px;
}

.ml2 .letter {
  display: inline-block;
  line-height: 1em;
}

.navbar-default{
  transition:500ms ease;
  background: #7a2048;
}
.navbar-default.scrolled{
  background:#7a2048b6;
}

.navbar {
  height: auto;
  font-size: 20px;
}

.navbar-brand {
  height: 65px;  
}

.navbar-brand img {
  position: absolute;
  top: -10px;
  width: 284px;
  height: 110px;
  overflow: visible;
  vertical-align: middle;
}

.nav-link {
  padding-left: 20px !important;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.main {
  margin-top: 50px;
  margin-bottom: 0px;
}

.herohmtext {
  display: flex;
  flex-direction: column;
  margin: auto auto;
  padding-top: 30px;
  padding-bottom: 70px;
  text-align: center;
  color: white;
  background-color: #00000042;
  
  width: 65%;
}

.herohmtext h1{
  font-size: 70px;
  font-weight: 600;
  
}

.herohmtext h3{
  font-size: 45px;
  font-weight: 500;
  
}

.container h2 {
  line-height: 40px;
  color: black;
}

.jumbobold {
  font-weight: 600;
}



.jumbotron h1 {
 color: white;

  
}

.jumbotron {
  background-image: url(../images/home-hero3.png);
  background-size: cover;
  background-position: right;
}

.headshot {
  display: flex;
  justify-items:center;
  align-items: center;
  background-repeat: no-repeat;
  margin: auto 20px;
  
}
 
  h1 {
    font-size: 24px;
    font-weight: 400;
    color: black;
    font-family: 'Montserrat', sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    }
  
  p {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #000;
    font-weight: lighter;
    line-height: 24px;
  }

  .skillscard h2 {
    color: black;
  }

  .card-img-top2 {
    width: 400px;
    height: auto;
    margin: 0 auto;
  }

  /*Bootstrap Cards for Case Studies*/

  .card-deck {
    margin-bottom: 20px;
  }

  
  .card {
    transition: transform 250ms;
  }

  .card-img-top {
  max-height: 300px;
  object-fit: cover;
}

  .card:hover {
    transform: scale(1.02, 1.02);
  }

  .card-body h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }

  .card-body p {
    line-height: 20px;
    padding-bottom: 0px;
  }

  .btn-primary {
    background-color: #f4f4f4;
    font-size: 16px;
    font-weight: 400;
    color:#7A2048;
    border: none;
  }
  .btn-primary:hover {
    background-color: #BC8FA3;
    color: white;
  }

  .btn-primary:active {
    background-color: #BC8FA3 !important;
    color: white;
  }

  .btn-primary:focus {
    outline: none;
    box-shadow: none;
  }
  
   .button-resume {
    display: flex;
    height: 90px;
    background-color:white;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    border: none;
    padding: 33px 20px;
    margin-left: -10px;
    transition: opacity 0.5s;
  }
  .contentright a {
    text-decoration: none;
  }

  .button-resume:hover {
    opacity: 0.7;
    cursor: pointer;
  }

  

  .skillscontent {
    display: flex;
    justify-content:space-around;
    flex-direction: column;
    margin: 0 40px;
    
  }

  .skills-row {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    
    
  }
  .skillscard {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    width: 260px;
    border-radius: 5px;
    margin: 0 10px 20px 10px;
   
    padding: 10px 10px;
 }

 .skillscard h2 {
  padding-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight:bold;
  text-decoration: underline;
 }

  .skillscard ul {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 26px;
  }

  .skillscard img {
    display: flex;
    width: 50px;
    height: auto;
    margin-left:30px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    background-color: #7a2048;
      }

  .ft-content {
    display: flexbox;
    flex-direction: column;
    margin: 10px 20px;
    color: white;
    font-family: 'Montserrat', sans-serif;
  }

  .ft-content a {
    text-decoration: none;
  }

   .ft-middle p {
    color: white;
    font-size: 16px;
    font-weight: 200;
    margin: 0 0;
    padding-bottom: 3px;
    line-height: 24px;
 }
  
 .ft-middle h3 {
  font-weight: 600;
  color: white;
  padding-bottom: 5px;
 }

 .ft-button {
  display: flex;
  background-color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin: 20px;
  transition: opacity .5s;
}

.ft-button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.ft-button a {
text-decoration: none;
}

.footer-nav {
  list-style: none;
  font-size: 16px;
  line-height: 24px;
}

.ftnav-item a {
  color: #BC8FA3;
  text-decoration: none;
}

.ftnav-item:hover a {
  color: #fff;
}

.ftnav-active a {
 color: #fff;
}

.ft-content img {
  width: 258px;
  height: 100px;
}

.fticon {
  display: flex;
  flex-direction: row;
}
.fticon img {
 width: 20px;
 height: 20px;
  margin-right: 10px;
  }



.container-fluid {
  display: flex;
  justify-content: space-between;
  margin: auto 0;
  padding-left: 0px;
  padding-right: 0px;
}

.heroabout {
  display: flex;
  justify-content:space-around;
  
  background-image: url(../images/about-hero.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.jumbotron-flex {
  padding-top: 60px;
  padding-bottom: 40px;
}

.abouttext {
  display: flex;
  justify-content:center;
  align-items: center;
  width: 50%;
  padding: 13% 20% 13% 0%;
}

.contentright {  
  display: flex;
  justify-content:center;
  align-items: center;
  margin-right: 40px;
}

.contentright img {
  border-radius: 10px;
}



 .flex-container {
  display: flex;
  justify-content: center;
  align-items:center;
  background-image: url('../images/hero1.png');
  background-repeat:no-repeat ;
  background-size: contain;
  background-position: center;

  background-attachment: fixed;
}

 
 


.headshot img {
  width: 100%;
  
}

.contacticons img {
  width: 75px;
  height: 75px;
}

.contactlf {
  padding-bottom: 20px;
  transition: transform 250ms;
}

.contactlf:hover {
  transform: scale(1.02, 1.02);
}

.contactlf a {
  text-decoration: none;
}

.jumbo-contact {
  text-align: center;
  background-color:white;
}

.copyright {
  font-size: 15px;
  color: white;
  background-color: #000;
  text-align: center;
  padding: 5px 0px 5px 0px;
}

.contactheadshot h2 {
  color: black !important;
}



/* Responsive layout - Mobile */
@media only screen and (max-width: 650px) {
 
  .flex-container {
    background-size: contain;
   
  }



  p {
    font-size: 18px;
  }

  .aboutimg img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    }

  .footer {
    flex-direction: column;
    text-align: center;
  }

  .content {
    flex-direction: column;
  }

  .heroabout {
    flex-direction: column;
  }

  .abouttext {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.499);
    margin-top: 10%;
    margin-left: 0;
    padding: 5% 1% 1% 5%;
  }

  .skills-row {
    flex-direction: column;
  }
  
   .headshot img {
    width: 300px;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 0px;
  }

  .skills-row {
    align-items: center;
  }

  .ml2 {
    padding-top: 5px;
  }

.biotext h1 {
  font-size: 26px;
  line-height: 36px;
}

}



/* Responsive layout - tablet */
@media only screen and (max-width: 992px) {

  .flex-container {
    background-size: contain;
    
    
  }

.card-img-top {
  max-height: 200px;
  object-fit: cover;
}
  
.herohmtext {
  width:100%;
}

  .herohmtext h1 {
     font-size: 30px;
     padding-top: 5px;
     padding-bottom: 1px;
     
   }

  .herohmtext h3 {
    font-size: 20px;
  }

  .herohmtext h2 {
    font-size: 20px;
    font-weight: lighter;
  }

  


  .content {
    flex-direction: column;
  }

  .heroabout {
    flex-direction: column;
  }

  .abouttext {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.499);
    margin-top: 10%;
    margin-left: 0;
    padding: 5% 1% 1% 5%;
  }

}

/*cube animation*/
.sk-cube-grid {
  margin-top: 10px;
  width: 100px;
  height: 100px;
  
}

.sk-cube-grid .sk-cube {
  width: 30%;
  height: 30%;
  background-color:#7A2048;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}